<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VacayHome{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="page">
        {% block content %}{% endblock %}
        
        <!-- Footer: Shared across all pages -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-details">
                            <h4>Get in touch</h4>
                            <ul class="list-unstyled footer-contact-list">
                                <li><i class="fa fa-map-marker fa-lg"></i>Kodaikanal, TamilNadu</li>
                                <li><i class="fa fa-phone fa-lg"></i><a href="tel:+91-9692550275">+91-9692550275</a></li>
                                <li><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:demo@info.com">Regal Homes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-details">
                            <h4>Explore</h4>
                            <ul class="list-unstyled footer-links">
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                <li><a href="{{ url_for('book') }}">Book</a></li>
                                <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center">
                    &copy; 2025 All rights reserved. Designed by VacayHome.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
